body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color:#333;
    margin: 0;
}

#main{
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
}

#title{
    font-size: 4rem;
    margin-bottom: 0;
}
#img-div{
    background: white;
    padding: 10px;
    margin: 0;
}
#img{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0;
}
ul{
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}
li{
    margin: 16px;
}